<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    title='incritos en '+curso[0].nombre
</head>

<body class="bg-dark text-white">

    <center>
        br
        h1='alumnos incritos en '+curso[0].nombre
        br
        br
        <table border="2" , style="width: 35%;">
            tr
                <th>matricula</th>
                <th>nombre</th>
                <th>apellido</th>
            each alumno in alumnos
                tr
                    td=alumno.matricula 
                    td=alumno.nombre 
                    td=alumno.apellido 
        </table>
        button(style="background-color:blue;padding: 5px 5px 5px 5px;  border-radius: 5px;") 
            <a style="text-decoration: none; color:white" , href="cursos">volver ↺</a>
    </center>
</body>

</html>