<!DOCTYPE html>

<html lang="en">

<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>alumnos</title>
</head>

<body class="bg-dark text-white">
    <center>
        br
        <h1>alumnos</h1>
        br
        br
        <table border="2" , style="width: 45%;">
            tr
                <th>matricula</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>curso inscrito</th>
                th

            each alumno in alumnos
                tr
                    td=alumno.matricula 
                    td=alumno.nombre 
                    td=alumno.apellido
                    td
                        
                        if(alumno.curso_inscrito=="")
                            form(action="inscribir_curso", method="post")
                                input(type="hidden", name="id", value=alumno.id)
                                button(style="background-color:blue;padding: 4px 5px 4px 5px;  border-radius: 5px; color:white") incribir curso
                        else
                            h6=alumno.curso_inscrito
                    td 
                        form(action="delect_students", method="post")
                            input(type="hidden", name="id" , value=alumno.id)
                            button(style="background-color:red;padding: 4px 5px 4px 5px;  border-radius: 5px;color:white") eliminar 
        </table>
        button(style="background-color:blue;padding: 5px 5px 5px 5px;  border-radius: 5px;") 
            <a style="text-decoration: none; color:white" , href="cursos">ver cursos</a>
        button(style="background-color:red;padding: 5px 5px 5px 5px;  border-radius: 5px;") 
            <a style="text-decoration: none; color:white" , href="agrear_alumno">agregar alumno</a>
    </center>
</body>

</html>